body {
  background-color:  #dadbd2;
  height: 100vh;
  width: 100vw;
  padding: 50px 0;
}

main {
  height: calc(100vh - 100px);
}

img {
  height: 40px;
  aspect-ratio: 1/1;
  display: block;
  border-radius: 50%;
}

.utenti img {
  height: 60px;
}

.xxs {
  font-size: 10px;
}

.background-bar {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  background-color: #019588;
}

.padding-fix {
  margin-right: calc((var(--bs-gutter-x) * 0.5) * (-1));
  margin-left: calc((var(--bs-gutter-x) * 0.5) * (-1));
}

.tool-bar {
  padding: 0.5rem;
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-container {
  background-color: #e4dcd4;
}

.message-container .tool-bar p {
  line-height: 0.7rem;
  padding-top: 3px;
}

.message-area {
  background-image: url("../img/mine.jpg");
}

.sent {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.received {
  background-color: white;
  align-self: flex-start;
}

.message {
  max-width: 49%;
  min-width: 20%;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.message:hover .delete-message{
    opacity: 1;
}

.delete-message{
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px !important;
    opacity: 0;
    transition: opacity .3s;
}

.delete-message:active{
    border: transparent !important;
}

.message-info{
    background-color: #e6e4e2;
    border: 1px solid #8b9298;
    position: absolute;
    border-radius: 10px;
    right: 0;
    top: 2rem;
    z-index: 10;
}

.info-item{
    padding: 1rem;
    opacity: .75;
    transition: opacity .3s, background-color .3s;
}

.info-item:hover{
    background-color: #8b9298;
    opacity: 1;
}

.info-item:hover .my-info{
    opacity: 1;
}

.my-info{
    position: absolute;
    top: -100%;
    left: 30%;
    right: -20%;
    border-radius: 5px;
    opacity: 0;
    padding: 1rem;
    font-size: .5rem;
    background-color: #e7e7e7; 
}

.word-wrap {
  word-wrap: break-word;
}

.message .xxs {
  line-height: 0;
  padding-left: 10px;
}

.single-user.active {
  background-color: #e6e4e2;
}
