<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="background-bar"></div>
    <div id="my-app">

        <main class="container bg-light ">
            <div class="row h-100 ">
                <!-- sidebar -->
                <div class=" h-100 " :class="(selectedUser === -1) ? 'col' : 'col-4' ">
                    <div class=" d-flex flex-column h-100 ">


                        <div class="padding-fix">

                            <!-- toolbar utente -->
                            <div class="tool-bar">
                                <!-- container dati -->
                                <div class="d-flex align-items-center">
                                    <img src="img/avatar_io.jpg">
                                    <h6 class="m-0 ms-3">Sofia</h6>
                                </div>
                                <!-- container pulsanti -->
                                <div>
                                    <button class="btn text-secondary"><i class="fa-solid fa-circle-notch"></i></button>
                                    <button class="btn text-secondary"><i class="fa-solid fa-message"></i></button>
                                    <button class="btn text-secondary"><i
                                            class="fa-solid fa-ellipsis-vertical"></i></button>
                                </div>
                            </div>

                            <!-- alert -->
                            <div class="bg-info opacity-75 p-3 d-flex align-items-center">
                                <button class="btn btn-light rounded-circle fs-3 text-info"><i
                                        class="fa-solid fa-bell-slash"></i></button>
                                <div class="ms-3">
                                    <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                                    <small>
                                        <a href="#" class="text-secondary">Attiva notifiche desktop</a>
                                    </small>
                                </div>
                            </div>

                            <!-- toolbar search -->
                            <div class="tool-bar">

                                <form @submit.prevent="searchUser" class="input-group opacity-75">
                                    <button class="btn btn-outline-secondary  bg-white"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                    <input v-model="search" type="text" class="form-control" placeholder="Cerca o inizia un anuova chat">
                                </form>

                            </div>
                        </div>

                        <div class="padding-fix flex-grow-1 overflow-auto utenti ">

                            <div v-for="(user, i) in usersList" @click="selectedUser = i"
                                :class="{'active' : selectedUser === i, 'd-none' : !user.visible}"
                                class="p-3 d-flex border justify-content-between single-user">
                                <div class="d-flex">
                                    <img :src="'img/avatar' + user.avatar + '.jpg'">
                                    <div class="ms-3">
                                        <p class="m-0">{{user.name}}</p>
                                        <small class="text-secondary">Ultimo messaggio inviato</small>
                                    </div>
                                </div>
                                <div class="xxs text-secondary">{{takeTime(user.messages[user.messages.length
                                    -1].date)}}</div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- message container -->
                <div v-if="selectedUser !== -1" class="col-8 h-100 message-container border-start">
                    <div class="d-flex flex-column h-100">
                        <div class="padding-fix">

                            <!-- toolbar utente -->
                            <div class="tool-bar">

                                <!-- container dati -->
                                <div class="d-flex align-items-center">
                                    <img :src="'img/avatar' + usersList[selectedUser].avatar + '.jpg'">
                                    <div class=" ms-3">
                                        <p class="m-0">{{usersList[selectedUser].name}}</p>
                                        <small class="text-secondary xxs">Ultimo accesso oggi alle
                                            {{takeTime(usersList[selectedUser].messages[usersList[selectedUser].messages.length
                                            -1].date)}}</small>
                                    </div>
                                </div>
                                <!-- container pulsanti -->
                                <div>
                                    <button class="btn text-secondary"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                    <button class="btn text-secondary"><i class="fa-solid fa-paperclip"></i></button>
                                    <button class="btn text-secondary"><i
                                            class="fa-solid fa-ellipsis-vertical"></i></button>
                                </div>

                            </div>
                        </div>

                        <!-- area dei messaggi -->
                        <div class="flex-fill overflow-auto message-area p-5">
                            <div v-for="element in usersList[selectedUser].messages" class="py-1 d-flex flex-column">
                                <div class="message" :class="element.status">
                                    <div class="word-wrap overflow-auto">{{element.message}}</div>
                                    <div class="xxs text-secondary align-self-end">{{ takeTime(element.date) }}</div>
                                </div>
                            </div>
                        </div>


                        <div class="padding-fix">
                            <!-- toolbar messaggi -->
                            <div class="tool-bar opacity-75">
                                <button class="btn text-secondary px-4"><i
                                        class="fa-regular fa-face-smile"></i></button>
                                <input v-model="typing" @keyup.enter="sendMessage" type="text" class="form-control-lg form-control"
                                    placeholder="Scrivi un messaggio">
                                <button class="btn text-secondary px-4"><i class="fa-solid fa-microphone"></i></button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </main>

    </div>
    <script src="js/main.js"></script>
</body>

</html>